.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
  text-align: center;
}

.work {
  padding-bottom: 94px;
}

.software-products {
  display: flex;
  gap: 30px;
}

.softaware-products__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
}

.softaware-products__thumb {
  position: relative;
}
